/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
	 * colors
	 */
  --ultramarine-blue: #5b5197;
  --silver-metallic: hsl(240, 4%, 71%);
  --fiery-rose_12: hsla(354, 86%, 65%, 0.12);
  --eerie-black-1: hsl(0, 0%, 13%);
  --eerie-black-2: hsl(0, 0%, 12%);
  --smokey-black: hsl(0, 0%, 100%);
  --silver-sand: hsl(240, 4%, 76%);
  --ocean-green: hsl(161, 50%, 57%);
  --fiery-rose: hsl(354, 86%, 65%);
  --alice-blue: hsl(214, 32%, 91%);
  --davys-gray: hsl(0, 0%, 34%);
  --blue-ryb: #ffd167;
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white: hsl(0, 0%, 100%);
  --onyx-1: hsl(0, 0%, 23%);
  --onyx-2: hsl(0, 0%, 20%);
  /**
	 * typography
	 */
  --ff-poppins: "Poppins";
  --ff-open-sans: "Open Sans";
  --fs-1: calc(2.3rem + 2.1vw);
  --fs-2: calc(2.1rem + 0.9vw);
  --fs-3: calc(2rem + 0.3vw);
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1.3rem;
  --fs-9: 1.2rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  /**
	 * spacing
	 */
  --section-padding: 120px;
  /**
	 * shadow
	 */
  --shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);
  /**
	 * radius
	 */
  --radius-pill: 500px;
  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-8: 8px;
  --radius-16: 16px;
  /**
	 * transition
	 */
  --transition: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
	#RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input,
table {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

html {
  font-family: var(--ff-open-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: #f8f8f8;
  color: var(--silver-sand);
  font-size: 1.6rem;
  line-height: 1.75;
}

body.active {
  overflow-y: hidden;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
	#REUSED STYLE
  \*-----------------------------------*/

.container {
  padding-inline: 15px;
}

.h1 {
  color: var(--white);
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-800);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-5);
}

.btn-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.btn {
  max-width: max-content;
  padding: var(--padding-y, 13px) 28px;
  font-family: var(--ff-poppins);
  font-weight: var(--fw-500);
}

.btn-primary {
  color: var(--white);
  background-color: var(--ultramarine-blue);
  font-size: var(--fs-6);
  border-radius: 50px;
  transition: var(--transition);
}

.btn-primary:is(:hover, :focus) {
  background-color: var(--blue-ryb);
}

.w-100 {
  width: 100%;
}

.section {
  padding-block: var(--section-padding);
}

.section-title {
  margin-block-end: 24px;
}

.text-center {
  text-align: center;
}

.grid-list {
  display: grid;
  gap: 10px;
  overflow: auto;
}
.grid-list {
  scroll-snap-type: x mandatory;
  width: 100%;
}

.grid-list li {
  scroll-snap-align: center;
}

.bg-gray {
  background-color: var(--eerie-black-1);
}

.btn-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
}

.btn-link > * {
  transition: var(--transition);
}

.btn-link:is(:hover, :focus) {
  color: var(--ultramarine-blue);
}

.btn-link:is(:hover, :focus) ion-icon {
  transform: translateX(5px);
}

/*-----------------------------------*\
	#HEADER
  \*-----------------------------------*/

.header .btn-group {
  display: none;
}

.header {
  top: 0;
  left: 0;
  width: 95%;
  margin: 30px auto;
  padding: 20px;
  transition: var(--transition);
  z-index: 4;
  border-radius: 30px;
}

.header .container,
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-open-btn {
  color: var(--white_50);
  font-size: 30px;
  transition: var(--transition);
}

.nav-open-btn:is(:hover, :focus) {
  color: var(--ultramarine-blue);
}

.navbar {
  position: fixed;
  background-color: rgb(23, 33, 52);
  color: var(--alice-blue);
  top: 0;
  right: -400px;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  padding: 40px 16px;
  z-index: 2;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  visibility: visible;
  transform: translateX(-400px);
  transition: 0.5s var(--cubic-out);
}

.navbar-top {
  margin-block-end: 30px;
}

.nav-close-btn {
  background-color: var(--fiery-rose_12);
  color: var(--fiery-rose);
  font-size: 20px;
  padding: 5px;
  border-radius: var(--radius-circle);
}

.nav-close-btn .ion-icon {
  --ionicon-stroke-width: 45px;
}

.navbar-link {
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  padding: 8px 16px;
  transition: var(--transition);
  color: white;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: 29px; /* 193.333% */
}

.navbar-link:hover {
  color: #ffd167;
  border-bottom: #ffd167 solid 0.5px;
  background: linear-gradient(
    180deg,
    rgba(97, 87, 160, 0) 33.33%,
    rgba(97, 87, 160, 0.3) 100%
  );
}
@media (min-width: 900px) {
  .navbar-list {
    gap: 57px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--smokey-black);
  transition: var(--transition);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.overlay.active {
  pointer-events: all;
  opacity: 0.75;
  visibility: visible;
}

.mobo {
  margin-top: -100px;
}

/*-----------------------------------*\
	#HERO
  \*-----------------------------------*/

.hero {
  padding-block-start: calc(var(--section-padding) + 50px);
}

.hero .container {
  display: grid;
  gap: 70px;
}

.hero-content {
  margin-top: 90px;
  margin-bottom: 50px;
  padding-left: 94px;
}

.hero-text {
  font-size: var(--fs-4);
  margin-block: 10px 20px;
}

.play-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--fs-7);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-500);
  transition: var(--transition);
}

.play-btn .icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border: 2px solid var(--white);
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.play-btn .span {
  color: var(--silver-metallic);
  transition: var(--transition);
}

.play-btn:is(:hover, :focus) .span {
  color: var(--white);
}

.play-btn:is(:hover, :focus) .icon {
  background-color: var(--white);
  color: var(--ultramarine-blue);
}

.top {
  display: flex;
  height: 42px;
  width: 293px;
  text-align: center;
  color: #363636;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.5px;
  /* 150% */
  display: inline-flex;
  padding: 5px 36.96px 6px 10px;
  align-items: center;
  /*style*/
  border-radius: 100px;
  background: white;
}

.top span {
  display: flex;
  color: #ffd167;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.5px;
  height: 30px;
  margin-right: 10px;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #6157a0;
}

@media (max-width: 800px) {
  .hero-content {
    padding-left: 0px;
  }
}

/*-----------------------------------*\
	#SERVICE SECTION
  \*-----------------------------------*/

.services .container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.service-title {
  color: #002768;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  /* 200% */
  letter-spacing: 2px;
}

.service-details {
  color: #130947;
  font-family: Inter;
  font-size: 24.8px;
  font-style: normal;
  font-weight: 700;
  line-height: 34.56px;
  /* 139.355% */
}

.service-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two cards per row */
  gap: 20px;
  /* Adjust the gap between cards as needed */
}

.card {
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;
}

.card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

/* Example styles for the card images */

.card img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 800px) {
  .services .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

/*Description section*/

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.describe {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.describe .describe-item1 span {
  color: #130947;
  font-family: Inter;
  font-size: 24.8px;
  font-style: normal;
  font-weight: 700;
  line-height: 30.56px;
  /* 123.226% */
  text-transform: capitalize;
}

.describe .describe-item1 {
  color: rgba(18, 17, 39, 0.65);
  text-align: justify;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
}

/*-----------------------------------*\
	#PROMO
  \*-----------------------------------*/

.promo .section-text {
  padding-inline: 8px;
  margin-block-end: 50px;
}

.promo-card {
  border-radius: var(--radius-5);
  padding: 40px 25px;
}

.promo-card .card-icon {
  background-color: var(--onyx-1);
  color: var(--white);
  width: max-content;
  font-size: 24px;
  padding: 20px;
  border-radius: var(--radius-circle);
  margin-block-end: 20px;
}

.promo-card .card-icon ion-icon {
  --ionicon-stroke-width: 50px;
}

.promo-card .card-text {
  width: 304px;
  flex-shrink: 0;
  color: #6d7a8c;
  font-family: Inter;
  font-size: 14px !;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-top: 20px;
  margin-bottom: 20px;
}

/*-----------------------------------*\
	#STATS
  \*-----------------------------------*/

.stats .container {
  display: grid;
  gap: 50px;
}

.stats .section-text:last-of-type {
  margin-block: 16px;
}

.stats-list {
  display: grid;
  gap: 15px;
}

.stats-card {
  padding: 17px;
  border-radius: var(--radius-5);
}

.stats-card .card-title {
  font-size: var(--fs-3);
  margin-block-end: 10px;
}

.stats-card .card-text {
  width: 304px;
  flex-shrink: 0;
  color: #6d7a8c;
  font-family: Inter;
  font-size: 14px !;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-top: 20px;
  margin-bottom: 20px;
}

/*-----------------------------------*\
	#MARKET
  \*-----------------------------------*/

.market .section-text {
  margin-block-end: 24px;
}

/*-----------------------------------*\
	#CTA
  \*-----------------------------------*/

.chat-card .section-title {
  color: #262626 !important;
  font-family: Inter !important;
  font-size: 37px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 35.6px !important;
  /* 96.216% */
  letter-spacing: -0.84px !important;
}

.chat-card .section-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: justify;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 133.333% */
}

.chat {
  display: flex;
  margin-top: 23px;
  padding: 14px 45.73px 13.83px 44px;
  align-items: flex-start;
  border-radius: 4px;
  border: 2px solid #5f559c;
  color: #5f559c;
  text-align: center;
  font-family: Inter;
  font-size: 14.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.84px;
  /* 147.568% */
}

.cta .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-inline: auto;
  margin-block-start: 30px;
}

/*-----------------------------------*\
	#INSTRUCTION
  \*-----------------------------------*/
.stra {
  color: #130947;
  text-align: center;
  font-family: Inter;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 47.88px; /* 129.405% */
  letter-spacing: -0.5px;
}
.stra span {
  color: #6157a0;
  font-family: Inter;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 47.88px;
  letter-spacing: -0.5px;
}
.instruction .section-text {
  margin-block-end: 50px;
  color: var(--eerie-black-1);
}

.instruction .card-title {
  color: #130947;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 164.706% */
  letter-spacing: -0.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.instruction .section-title {
  color: var(--eerie-black-2);
}

.instruction-card {
  width: 360px;
  height: 275.8px;
  border-radius: 15px;
  background: #fff;
  padding: 10px 16px;
}
@media (max-width: 80px) {
  .instruction-card {
    width: 360px;
    height: 275.8px;
    border-radius: 15px;
    background: #fff;
    padding: 10px 16px;
    margin-left: 25px;
  }
}

.instruction-card .card-icon {
  border-radius: 8px;
  border: 1px solid #002768;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 1px 6px 0px rgba(0, 136, 255, 0.35);
  display: flex;
  width: 50px;
  height: 50px;
  padding: 17px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #2c2c2c;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 100% */
}

.instruction-card .card-text {
  width: 304px;
  flex-shrink: 0;
  color: #6d7a8c;
  font-family: Inter;
  font-size: 14px !;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-top: 20px;
  margin-bottom: 20px;
}

/*-----------------------------------*\
	#About 
  \*-----------------------------------*/

.about-title {
  color: #212529;
  text-align: center;
  font-family: Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px; /* 120% */
}
.about-sub-title {
  color: #000;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 116%; /* 27.84px */
  letter-spacing: -1.2px;
}

.about-details {
  color: #002768;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 200% */
  letter-spacing: 2px;
  margin-bottom: 47px;
}

.about-text {
  color: rgba(18, 17, 39, 0.65);
  text-align: justify;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  padding-left: 114px;
  padding-right: 114px;
  margin-bottom: 33px;
}
@media (max-width: 900px) {
  .about-text {
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 33px;
  }

  .about .total-width .icon-bar {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header .container2 {
    flex-direction: column;
  }
  .header .container,
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .icon-bar {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*icon-bar*/
.icon-bar {
  display: flex;
  align-items: center;
  gap: 31px;
  flex-direction: row;
  border-radius: 10px;
  background: rgba(97, 87, 160, 0.03);
}
.icon-bar:hover {
  cursor: pointer;
}

.total-width {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-bar .icon-container {
  border-radius: 10px;
  background: rgba(97, 87, 160, 0.2);
  display: flex;
  padding: 23px 22px;
  align-items: flex-start;
  gap: 10px;
}
.icon1 {
  color: #0d015b;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  display: flex;
  width: 247px;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.icon2 {
  color: #0d015b;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 348px;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.icon3 {
  color: #0d015b;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
@media (max-width: 800px) {
  .icon-bar {
    flex-direction: column;
  }
}
/*-----------------------------------*\
	#APP
  \*-----------------------------------*/

.app-card {
  padding: 25px;
  display: grid;
  gap: 50px;
}

.app-card .section-title {
  color: #130947;
  font-family: Inter;

  font-style: normal;
  font-weight: 700;
  line-height: 30.56px;
  /* 123.226% */
  text-transform: capitalize;
}

.app-card .section-text {
  color: rgba(18, 17, 39, 0.65);
  text-align: justify;
  font-family: Helvetica Neue;

  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
}

.app-card .btn-primary {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--ultramarine-blue);
  --padding-y: 10px;
}

.app-card .btn-primary ion-icon {
  font-size: 25px;
}

.app-card :is(.btn-text, .btn-title) {
  font-family: var(--ff-open-sans);
}

.app-card .btn-text {
  font-size: var(--fs-9);
  font-weight: var(--fw-400);
  line-height: 1;
}

.app-card .btn-primary:is(:hover, :focus) {
  background-color: transparent;
}

.app-card .btn-title {
  font-weight: var(--fw-600);
}

.reverse-order {
  order: 2;
  /* Set the order to 2 to reverse the columns */
}

.appbg {
  background-image: url(./assets/images/bg.png);
}

/*-----------------------------------*\
	#Contact Info
  \*-----------------------------------*/
.contact-info {
  display: flex;
  overflow: hidden;

  justify-content: center;
  align-items: center;
}

/*-----------------------------------*\
	#FOOTER
  \*-----------------------------------*/

.footer {
  text-align: center;
  color: var(--alice-blue);
}

.footer .logo {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 30px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 30px;
  margin-block: 54px 50px;
}

.footer-link {
  color: var(--white);
  font-weight: var(--fw-600);
  padding-block-end: 4px;
  border-block-end: 2px solid transparent;
  transition: var(--transition);
}

.footer-link:is(:hover, :focus) {
  border-color: var(--ultramarine-blue);
}

.social-list-title {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-block-end: 24px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  background-color: var(--eerie-black-1);
  color: var(--white);
  font-size: 18px;
  padding: 16px;
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.social-link:is(:hover, :focus) {
  background-color: var(--ultramarine-blue);
}

.footer-bottom {
  border-block-start: 1px solid var(--eerie-black-2);
  padding-block: 16px;
}

.copyright {
  line-height: 1.3;
  margin-block-end: 16px;
}

.footer-bottom-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*-----------------------------------*\
	#MEDIA QUERIES
  \*-----------------------------------*/

/**
   * responsive for large than 575px screen
   */

@media (min-width: 575px) {
  /**
	 * REUSED STYLE
	 */
  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
  /**
	 * APP
	 */
  .app-card .card-banner {
    max-width: max-content;
    margin-inline: auto;
  }
}
@media (max-width: 900px) {
  /**
	 * APP
	 */
  .grid-list {
    justify-content: center;
    align-items: center;
  }
}

/**
   * responsive for large than 768px screen
   */

@media (min-width: 768px) {
  /**
	 * REUSED STYLE
	 */
  .container {
    max-width: 720px;
  }
  .grid-list {
    grid-template-columns: 1fr 1fr;
  }
  /**
	 * contact card
	 */

  .header {
    border-radius: 50px;
  }

  /**
	 * HEADER
	 */
  .header .btn-group {
    display: flex;
    margin-inline: auto 30px;
  }
  .ghost-btn {
    color: var(--alice-blue);
    font-size: var(--fs-6);
    transition: var(--transition);
  }
  .ghost-btn:is(:hover, :focus) {
    color: var(--ultramarine-blue);
  }

  .card-content {
    padding-inline: 80px;
  }

  /**
	 * APP
	 */
  /**
	 * FOOTER
	 */
  .footer-bottom {
    padding-block: 26px;
  }
  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copyright {
    margin-block-end: 0;
  }
  .mobo {
    margin-top: 0;
  }
}

/**
   * responsive for large than 992px screen
   */

@media (min-width: 992px) {
  /**
	 * REUSED STYLE
	 */
  .container {
    max-width: 960px;
  }
  .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
  :is(.section-title, .section-text).text-center {
    margin-inline: auto;
  }
  .section-text.text-center {
    max-width: 60ch;
  }
  .section-title.text-center {
    max-width: 30ch;
  }
  /**
	 * HERO
	 */
  .hero .container {
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    gap: 25px;
  }

  /**
	 * STATS
	 */
  .stats .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  /**
	 * INSTRUCTION
	 */
  .instruction {
    overflow-y: hidden;
    height: 600px;
  }
  .instruction .sizeit {
    overflow-x: auto;
    padding: 0 0 200px 200px;
  }
  .instruction .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }
  /**
	 * APP
	 */
  .app-card {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0;
    padding: 0;
  }
  .rev {
    order: 2;
  }
  /**
	 * FOOTER
	 */
  .footer-top .container {
    max-width: 580px;
  }
  .footer-list {
    column-gap: 60px;
  }
}

/**
   * responsive for large than 1200px screen
   */

@media (min-width: 1200px) {
  /**
	 * REUSED STYLE
	 */
  .container {
    max-width: 1140px;
  }
  /**
	 * HEADER
	 */
  .nav-open-btn,
  .navbar-top {
    display: none;
  }
  .navbar {
    all: unset;
    display: block;
    margin-inline: auto;
  }
  .navbar-list {
    display: flex;
  }
  .navbar-link {
    font-weight: var(--fw-600);
  }
  .header .btn-group {
    margin-inline: 0;
  }
  /**
	 * APP
	 */
  .card-content {
    padding-inline: 80px;
  }
}

/*h-contact-card*/

.h-contact-card {
  display: flex;
  width: 1140px;
  height: 386.86px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.h-contact-1,
.h-contact-2,
.h-contact-3 {
  width: 380px;
  height: 386.86px;
  flex-shrink: 0;
  background: #6157a0;
  padding: 40px 40px 72.22px 40px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}
@media (max-width: 900px) {
  .h-contact-card {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
  }
}
/*h-contact-1*/
.h-contact-1 {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: 1px solid #fff;
}
.h-contact-1 p {
  color: #fff;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.h-contact-1 button {
  border-radius: 4px;
  border: 2px solid #fff;
  display: flex;
  width: 145px;
  height: 50px;
  padding: 14px 20.73px 13.83px 10px;

  align-items: flex-start;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.84px; /* 147.568% */
}
@media (max-width: 900px) {
  .h-contact-1 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom: 1px solid #fff;
  }
}
/*h-contact-2*/

.h-contact-2 span {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}
.h-contact-2 p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.h-contact-2 button {
  display: flex;
  width: 198px;
  height: 50px;
  padding: 14px 14.06px 13.83px 10px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.84px; /* 138.228% */
}
/*h-contact-3*/
.h-contact-3 {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left: 1px solid #fff;
}

.h-contact-3 .p1,
.h-contact-3 .p2,
.h-contact-3 .p3 {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2px 0px 2px 0px;
}
.h-contact-3 .p1 span,
.h-contact-3 .p2 span,
.h-contact-3 .p3 span {
  color: #fff;
  font-family: Inter;
  font-size: 14.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px; /* 113.514%*/
}
.h-contact-3 .p2,
.h-contact-3 .p1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

@media (max-width: 900px) {
  .h-contact-3 {
    border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0px;
    border-top: 1px solid #fff;
  }
}
/*/////////////////////footer/////////////////////*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300 !important;400 !important;500 !important;600 !important;700&display=swap");
.footer .container {
  max-width: 100vw !important;
  margin: auto !important;
}

.row {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row-reverse !important;
  width: 100vw !important;
  justify-content: flex-end;
  gap: 30px;
}

.container ul {
  list-style: none !important;
}

.footer {
  background: black !important;
  border-top: 3px solid black !important;
  padding: 70px 0 10px 0 !important;
}

.footer li {
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ql li {
  color: #ffd167;
  list-style: disc;
}

.footer-col {
  width: 25% !important;
  padding: 0 15px !important;
}

.footer-col h4 {
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-style: normal;
  text-align: left !important;
  margin-bottom: 29px;
  font-weight: 500;
  line-height: 21px;
  /* 150% */
}

.footer-col ul span {
  color: #fff;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-col ul li {
  margin-top: 16px;
  margin-bottom: 16px;
}

.footer-col h4::before {
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -10px !important;
  height: 2px !important;
  box-sizing: border-box !important;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px !important;
}

.footer-col ul li a,
.footer-col ul li button {
  font-size: 16px !important;

  color: #ffffff !important;
  text-decoration: none !important;
  font-weight: 300 !important;
  border: none !important;
  text-align: left !important;
  background: transparent !important;
  cursor: pointer !important;
  display: block !important;
  transition: all 0.3s ease !important;
}

#text2 {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  line-height: 180% !important;
  letter-spacing: -0.01em !important;
  color: #929;
}

.footer-col ul li a i {
  font-family: "Font Awesome 5 Brands" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 120% !important;
  /* identical to box height, or 22px */
  letter-spacing: 0.055em !important;

  color: #ffffff !important;
}

.footer-col ul li a:hover {
  color: #ffffff !important;
  padding-left: 8px !important;
}

.footer-col ul li button:hover {
  color: #ffffff !important;
  padding-left: 8px !important;
}

.footer-col .social-links a {
  color: #ffffff !important;
  border: 1px #ffd167 solid !important;
  border-radius: 8px;
  width: 55px !important;
  margin: 5px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 55px !important;
}

.footer-col .social-links a i {
  font-family: "Font Awesome 5 Brands" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
}

.footer-col .social-links a:hover {
  color: #24262b !important;
  background: #ffd167 !important;
}

.footer-col .social-links a:hover .footer-col .social-links a i {
  color: #24262b !important;
}

.social {
  display: flex !important;
  flex-direction: row !important;
  list-style: none !important;
}

/*responsive*/

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse !important;
  }
  .footer-col {
    width: 50% !important;
    margin-bottom: 30px !important;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100% !important;
  }
}

/*b-line*/

footer .b-line-c {
  margin-top: 30px !important;
}

footer .b-line-c,
footer .b-c {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  margin: 10px 0 !important;
}

footer .b-line {
  width: 95% !important;
  height: 0px !important;
  opacity: 0.2 !important;
  border: 1px solid #ffffff !important;
}
@media (min-width: 820px) {
  footer .b-line {
    margin-top: 48px;
  }
}
footer .b-text {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 17px !important;
  line-height: 200% !important;
  /* identical to box height, or 34px */
  letter-spacing: -0.01em !important;
  color: #929292 !important;
}

/*//////////////////////////////////////////////*/

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  min-height: 3cm !important;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: rgb(97, 87, 160);
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: rgb(97, 87, 160);
  text-align: left;
}
.blog-card a:hover {
  color: red;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  gap: 50px;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: rgb(97, 87, 160);
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: rgb(97, 87, 160);
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}
