 <!--End of Tawk.to Script--><!-- 
- #FOOTER
-->

    <footer class="footer" style="overflow-x: hidden">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Keep in Touch</h4>

            <ul>
              <li>
                <button class="add">
                  <span id="text1"
                    ><svg
                      fill="none"
                      height="10"
                      viewbox="0 0 10 10"
                      width="10"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.10336 0H2.89569C2.49329 0 2.16821 0.326337 2.16821 0.728736V9.27221C2.16821 9.67335 2.49329 10 2.89569 10H7.10336C7.50512 10 7.83146 9.67366 7.83146 9.27221V0.728736C7.83114 0.326337 7.50512 0 7.10336 0ZM7.28578 8.10226H2.7139V1.22929H7.28578V8.10226ZM5.97506 0.739467H4.0243V0.526748H5.97538L5.97506 0.739467ZM6.80984 0.64226C6.80984 0.745148 6.72589 0.828468 6.62332 0.828468C6.52043 0.828468 6.43679 0.744832 6.43679 0.64226C6.43679 0.539688 6.52043 0.456052 6.62332 0.456052C6.72621 0.455736 6.80984 0.539372 6.80984 0.64226ZM5.88764 9.22361H4.11109V8.67698H5.88764V9.22361Z"
                        fill="white"
                        fill-opacity="0.8"
                      ></path>
                    </svg>
                    +1 (838) 262‑0028</span
                  >
                </button>
              </li>
              <li>
                <button class="add">
                  <span
                    ><svg
                      fill="none"
                      height="12"
                      viewbox="0 0 12 12"
                      width="12"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6 6C6.275 6 6.5105 5.902 6.7065 5.706C6.9025 5.51 7.00033 5.27467 7 5C7 4.725 6.902 4.4895 6.706 4.2935C6.51 4.0975 6.27467 3.99967 6 4C5.725 4 5.4895 4.098 5.2935 4.294C5.0975 4.49 4.99967 4.72533 5 5C5 5.275 5.098 5.5105 5.294 5.7065C5.49 5.9025 5.72533 6.00033 6 6ZM6 9.675C7.01667 8.74167 7.77083 7.89367 8.2625 7.131C8.75417 6.36833 9 5.69133 9 5.1C9 4.19167 8.71033 3.448 8.131 2.869C7.55167 2.29 6.84133 2.00033 6 2C5.15833 2 4.44783 2.28967 3.8685 2.869C3.28917 3.44833 2.99967 4.192 3 5.1C3 5.69167 3.24583 6.36883 3.7375 7.1315C4.22917 7.89417 4.98333 8.742 6 9.675ZM6 11C4.65833 9.85833 3.65633 8.798 2.994 7.819C2.33167 6.84 2.00033 5.93367 2 5.1C2 3.85 2.40217 2.85417 3.2065 2.1125C4.01083 1.37083 4.942 1 6 1C7.05833 1 7.98967 1.37083 8.794 2.1125C9.59833 2.85417 10.0003 3.85 10 5.1C10 5.93333 9.66867 6.83967 9.006 7.819C8.34333 8.79833 7.34133 9.85867 6 11Z"
                        fill="#C9C9C9"
                      ></path>
                    </svg>
                    35 14th Street, Troy, New York</span
                  >
                </button>
              </li>
              <li>
                <button class="add">
                  <span id="text3"
                    ><svg
                      fill="none"
                      height="12"
                      viewbox="0 0 12 12"
                      width="12"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M6 6C6.275 6 6.5105 5.902 6.7065 5.706C6.9025 5.51 7.00033 5.27467 7 5C7 4.725 6.902 4.4895 6.706 4.2935C6.51 4.0975 6.27467 3.99967 6 4C5.725 4 5.4895 4.098 5.2935 4.294C5.0975 4.49 4.99967 4.72533 5 5C5 5.275 5.098 5.5105 5.294 5.7065C5.49 5.9025 5.72533 6.00033 6 6ZM6 9.675C7.01667 8.74167 7.77083 7.89367 8.2625 7.131C8.75417 6.36833 9 5.69133 9 5.1C9 4.19167 8.71033 3.448 8.131 2.869C7.55167 2.29 6.84133 2.00033 6 2C5.15833 2 4.44783 2.28967 3.8685 2.869C3.28917 3.44833 2.99967 4.192 3 5.1C3 5.69167 3.24583 6.36883 3.7375 7.1315C4.22917 7.89417 4.98333 8.742 6 9.675ZM6 11C4.65833 9.85833 3.65633 8.798 2.994 7.819C2.33167 6.84 2.00033 5.93367 2 5.1C2 3.85 2.40217 2.85417 3.2065 2.1125C4.01083 1.37083 4.942 1 6 1C7.05833 1 7.98967 1.37083 8.794 2.1125C9.59833 2.85417 10.0003 3.85 10 5.1C10 5.93333 9.66867 6.83967 9.006 7.819C8.34333 8.79833 7.34133 9.85867 6 11Z"
                        fill="#C9C9C9"
                      ></path>
                    </svg>
                    hello@straightgreencard.com</span
                  >
                </button>
              </li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>Explore</h4>

            <ul class="ql">
              <li><a href="https://www.straightgreencard.com/about.html">About Us</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Conditions of Use</a></li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>
              <a href="https://www.straightgreencard.com/index.html"
                ><img
                  alt=""
                  src="https://www.straightgreencard.com/assets/images/logo.svg"
                  style="width: 200px"
              /></a>
            </h4>

            <p
              style="
                color: #fff;
                font-family: Helvetica Neue;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                text-align: left;
                width: 231px;
                height: 68px;
                line-height: 21px;
                text-transform: capitalize;
              "
            >
              Empowering Immigrant Professionals, One Case at a Time
            </p>

            <div class="social-links">
              <ul class="social">
                <li class="li">
                  <a href="#" target="_blank"
                    ><img alt="" src="https://www.straightgreencard.com/assets/images/i1.svg"
                  /></a>
                </li>
                <li class="li">
                  <a href="https://x.com/str8greencard?s=09" target="_blank"
                    ><img alt="" src="https://www.straightgreencard.com/assets/images/i2.svg"
                  /></a>
                </li>
                <li class="li">
                  <a href="#" target="_blank"
                    ><img alt="" src="https://www.straightgreencard.com/assets/images/i3.svg"
                  /></a>
                </li>
                <li class="li">
                  <a
                    href="https://instagram.com/straightgreencard?igshid=NzZlODBkYWE4Ng=="
                    target="_blank"
                    ><img alt="" src="https://www.straightgreencard.com/assets/images/i4.svg"
                  /></a>
                </li>
                <li class="li">
                  <a
                    href="https://api.whatsapp.com/send?phone=18382620028"
                    target="_blank"
                    ><img alt="" src="https://www.straightgreencard.com/assets/images/whatsapp-16.ico"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="b-line-c">
        <div class="b-line"></div>
      </div>

      <div class="b-c">
        <div class="b-text">
          StraightGreenCard&copy; 2023 All Rights Reserved.
        </div>
      </div>
    </footer>
    <div
      style="
        background-color: #413b72;
        color: white;
        padding: 10px;
        text-align: center;
      "
    >
      <p>WE ARE NOT IMMIGRATION ATTORNEYS AND DO NOT OFFER LEGAL ADVICE!!!</p>
    </div>